.player {
  width: 100vw;
  position: fixed;
  bottom: 9%;
  opacity: 80%;
}

@media screen and (min-width: 1285px) {
  .player {
    width: 100vw;
    position: fixed;
    bottom: 0;
    opacity: 80%;
  }
}
